# Ignore Python caches
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/

# Ignore environment variables
.env.*

# Ignore Ruff cache
.ruff_cache/

# Ignore IDE settings
.idea/
.vscode/
.zed/

# Ignore miscellaneous
*.log
.DS_Store
Thumbs.db
